/* PostCalendar Stylesheet for popup window*/
/*
 *  SVN: $Id$
 *
 *  @package         PostCalendar 
 *  @lastmodified    $Date: 2009-10-12 17:46:59 -0400 (Mon, 12 Oct 2009) $ 
 *  @modifiedby      $Author: craigh $ 
 *  @HeadURL	     $HeadURL: https://code.zikula.org/svn/soundwebdevelopment/trunk/Modules/PostCalendar/pnstyle/style.css $ 
 *  @version         $Revision: 264 $ 
*/
body {
    margin: 2em;
}
h2 {
    text-align: center;
    font-weight: bold;
}