/* PostCalendar Stylesheet */

/********** HEADERS & CONTAINERS ***************/

table.postcalendar_month
{
	border:0;
	border-collapse: collapse;
}
div.calcontainer
{
	margin-top:1em;
}
h2.postcalendar_header
{
	text-align: center;
	background: transparent;
	font-size: 14pt;
	font-weight: bold;
	margin-top:1em;
	border: 1px solid Black;
	padding: .5em;
}
h2.postcalendar_header a
{
	font-size: 14pt;
	font-weight: bold;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

/********** DAY & SEARCH ***************/

h3.dayheader,
h3.dayheader a {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}
ul.eventslist,
li.eventslistitems
{
	padding-left: 10px;
	list-style: none;
}

.pc_searchtable
{
	border: 1px solid Black;
}

/*********** MONTH **************/

td.monthon {
	background-color: transparent;
	border: 1px solid Black;
	vertical-align: top;
}
td.monthoff {
	background: #cccccc; /* Pale Grey */
	border: 1px solid Black;
	vertical-align: top;
}
td.monthtoday {
	background-color: yellow;
	border: 2px dashed orange;
	vertical-align: top;
}
td.daynames {
	background-color: #cccccc; /* Pale Grey */
	border: 1px solid Black;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
}

/*********** YEAR **************/

td.weeklink
{
	background-color: #cccccc; /* Pale Grey */
	border: 1px solid Black;
}
.weeklink a
{
	font-size: 7pt;
	font-weight: normal;
	text-decoration: none;
}
a.event-none
{
	color: Black;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.event-one
{
	color: #006600; /* Obscure Dull Green */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.event-two
{
	color: #006666; /* Obscure Dull Cyan */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.event-three
{
	color: #0066cc; /* Hard Dark Azure */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}


/*********** NAV **************/


.bnav {
	border: 1px solid Black;
}
td.nav,
td.nav:hover {
	border-right: 1px outset White;
	background-color:white;
}
td.rnav,
td.rnav:hover {
	background-color: White;
}
td.snav {
	border-right: 1px outset White;
	background-color: White;
	font-weight: bold;
}
td.rsnav {
	background-color: White;
	font-weight: bold;
}
a.nav:link,
a.nav:active,
a.nav:hover,
a.nav:visited {
	padding-right: 3px;
	padding-left: 3px;
	color: Black;
	text-decoration: none;
}
SELECT.nav,
OPTION.nav,
INPUT.nav {
	color: Black;
	background-color: White;
}

/*********** details **************/

td.eventtitle
{
	background-color: White;
	font-size: 14pt;
	font-weight: bold;
}
table.eventtitle,
table.eventtime
{
	background-color: White;
	border: 1px solid Black;
}
td.eventtime
{
	background-color: White;
	font-size: 10pt;
	font-weight: bold;
}
table.eventslist,
td.eventslist
{
	background-color: White;
	padding: 10px;
}

/*********** BLOCK STYLES **************/
td.blockmonthon
{
	background-color: white;
	border: 1px solid Black;
}
td.blockmonthoff
{
	background-color: #cccccc; /* Pale gray */
	border: 1px solid Black;
}
td.blockmonthtoday
{
	background-color: yellow;
	border: 1px solid Black;
}
h3.blockmonthheader
{
	background-color: #cccccc; /* Pale gray */
	font-size: 8pt;
	font-weight: bold;
	border: 1px solid Black;
	text-align: center;
	padding: 2px;
}
h3.blockmonthheader a
{
	text-decoration: none;
}
td.blockdaynames
{
	background-color: #cccccc; /* Pale gray */
	border: 1px solid Black;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: none;
}

table.blockcalcontainer,
td.blockcalcontainer
{
	border: 0;
	border-collapse: collapse;
}
td.blockweeklink
{
	background-color: #cccccc; /* Pale gray */
	border: 1px solid Black;
}
.blockweeklink a
{
	color: black;
	font-size: 7pt;
	font-weight: normal;
	text-decoration: none;
}
a.blockevent-none
{
	color: black;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.blockevent-one
{
	color: #006600; /* Obscure Dull Green */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.blockevent-two
{
	color: #006666; /* Obscure Dull Cyan */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.blockevent-three
{
	color: #0066cc; /* Hard Dark Azure */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
li.eventlink,
.eventlink a
{
	font-size: 10px;
	font-weight: normal;
	padding: 2px;
	text-decoration: none;
}
li.pc_blockdate
{
	font-weight: bold;
	font-size: 1.1em;
	list-style: none;
}
li.pc_blockevent
{
	margin-left:2em;
	border:none;
	padding:0;
	list-style: none;
}
div.pc_centerblocksubmitlinks
{
	text-align: center;
	padding: 1em 0 0 0;
	
}