/* PostCalendar Stylesheet */

/********** HEADERS & CONTAINERS ***************/

td.dayheader,
td.weekheader,
td.monthheader,
td.yearheader
{
	background: transparent;
	font-size: 14pt;
	font-weight: bold;
}
table.calcontainer,
table.dayheader,
table.weekheader,
table.monthheader,
table.yearheader
{
	margin-top:1em;
	border: 1px solid Black;
}
.dayheader a:link,
.dayheader a:active,
.dayheader a:hover,
.dayheader a:visited,
.weekheader a:link,
.weekheader a:active,
.weekheader a:hover,
.weekheader a:visited,
.monthheader a:link,
.monthheader a:active,
.monthheader a:hover,
.monthheader a:visited,
.yearheader a:link,
.yearheader a:active,
.yearheader a:hover,
.yearheader a:visited
{
	font-size: 14pt;
	font-weight: bold;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}
td.calcontainer
{
	border: 1px solid Black;
}


/********** DAY & SEARCH ***************/

table.eventslist,
td.eventslist
{
	background-color: transparent;
	padding: 10px;
}

.pc_searchtable
{
	border: 1px solid Black;
}

/*********** MONTH **************/

td.monthon {
	background-color: transparent;
	border: 1px solid Black;
	vertical-align: top;
}
td.monthoff {
	background: #cccccc; /* Pale Grey */
	border: 1px solid Black;
	vertical-align: top;
}
td.monthtoday {
	background-color: white;
	border: 2px dashed orange;
	vertical-align: top;
}
td.daynames {
	background-color: #cccccc; /* Pale Grey */
	border: 1px solid Black;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
}

/*********** YEAR **************/

td.weeklink
{
	background-color: #cccccc; /* Pale Grey */
	border: 1px solid Black;
}
.weeklink a:link,
.weeklink a:active,
.weeklink a:hover,
.weeklink a:visited
{
	font-size: 7pt;
	font-weight: normal;
	text-decoration: none;
}
a.event-none:link,
a.event-none:hover,
a.event-none:visited,
a.event-none:active
{
	color: Black;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.event-one:link,
a.event-one:hover,
a.event-one:visited,
a.event-one:active
{
	color: #006600; /* Obscure Dull Green */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.event-two:link,
a.event-two:hover,
a.event-two:visited,
a.event-two:active
{
	color: #006666; /* Obscure Dull Cyan */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.event-three:link,
a.event-three:hover,
a.event-three:visited,
a.event-three:active
{
	color: #0066cc; /* Hard Dark Azure */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}


/*********** NAV **************/


.bnav {
	border: 1px solid Black;
}
td.nav,
td.nav:hover {
	border-right: 1px outset White;
	background-color:white;
}
td.rnav,
td.rnav:hover {
	background-color: White;
}
td.snav {
	border-right: 1px outset White;
	background-color: White;
	font-weight: bold;
}
td.rsnav {
	background-color: White;
	font-weight: bold;
}
a.nav:link,
a.nav:active,
a.nav:hover,
a.nav:visited {
	padding-right: 3px;
	padding-left: 3px;
	color: Black;
	text-decoration: none;
}
SELECT.nav,
OPTION.nav,
INPUT.nav {
	color: Black;
	background-color: White;
}

/*********** details **************/

td.eventtitle
{
	background-color: White;
	font-size: 14pt;
	font-weight: bold;
}
table.eventtitle,
table.eventtime
{
	background-color: White;
	border: 1px solid Black;
}
td.eventtime
{
	background-color: White;
	font-size: 10pt;
	font-weight: bold;
}
table.eventslist,
td.eventslist
{
	background-color: White;
	padding: 10px;
}