/* PostCalendar Stylesheet */
/*
 *  SVN: $Id$
 *
 *  @package         PostCalendar 
 *  @lastmodified    $Date$ 
 *  @modifiedby      $Author$ 
 *  @HeadURL	       $HeadURL$ 
 *  @version         $Revision$ 
*/

/********** HEADERS & CONTAINERS ***********/
table.postcalendar_month {
	border:0;
	border-collapse: collapse;
}
div.calcontainer {
	margin-top:1em;
}
h2.postcalendar_header {
	text-align: center;
	background: transparent;
	font-size: 14pt;
	font-weight: bold;
	margin-top:1em;
	border: 1px solid Black;
	padding: .5em;
}
h2.postcalendar_header a {
	font-size: 14pt;
	font-weight: bold;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

/********** DAY & SEARCH ***************/
h3.dayheader,
h3.dayheader a {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}
ul.eventslist,
li.eventslistitems {
	padding-left: 10px;
	list-style: none;
}

.pc_searchtable {
	border: 1px solid Black;
}

/*********** MONTH **************/
td.monthon {
	background-color: transparent;
	border: 1px solid Black;
	vertical-align: top;
}
td.monthoff {
	background: #cccccc; /* Pale Grey */
	border: 1px solid Black;
	vertical-align: top;
}
td.monthtoday { /* color assignments for TODAY */
	background-color: yellow;
	border: 2px dashed #FF6600; /*orangish */
	vertical-align: top;
}
td.daynames {
	background-color: #cccccc; /* Pale Grey */
	border: 1px solid Black;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
}

/*********** YEAR **************/
td.weeklink {
	background-color: #cccccc; /* Pale Grey */
	border: 1px solid Black;
}
.weeklink a {
	font-size: 7pt;
	font-weight: normal;
	text-decoration: none;
}
a.event-none {
	color: Black;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.event-one {
	color: #006600; /* Obscure Dull Green */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.event-two {
	color: #006666; /* Obscure Dull Cyan */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.event-three {
	color: #0066cc; /* Hard Dark Azure */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}

/*********** NAV **************/
#bnav {
	border: none;
	margin: 0;
	padding: 0;
}
#bnav ul { /* navigation icons list */
	padding: 0;
	margin: 0;
}
#bnav ul li { /* navigation icons list items */
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0;
}
td.nav,
td.nav:hover {
	border-right: 1px outset White;
	background-color:white;
}
td.rnav,
td.rnav:hover {
	background-color: White;
}
td.snav {
	border-right: 1px outset White;
	background-color: White;
	font-weight: bold;
}
td.rsnav {
	background-color: White;
	font-weight: bold;
}
a.nav {
	padding-right: 3px;
	padding-left: 3px;
	color: Black;
	text-decoration: none;
}
SELECT.nav,
OPTION.nav,
INPUT.nav {
	color: Black;
	background-color: White;
}

/********** details **************/
div.eventtime {
	font-size: 10pt;
	font-weight: bold;
}
div.eventdetails {
	padding: .3em 2em;
}

/*********** BLOCK STYLES **************/
.postcalendar_block_innertitle {
	font-size: 1.4em;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
	margin: 4px 0;
	padding: 2px 0;
}
td.blockmonthon {
	background-color: white;
	border: 1px solid Black;
}
td.blockmonthoff {
	background-color: #cccccc; /* Pale gray */
	border: 1px solid Black;
}
td.blockmonthtoday { /* color assignments for TODAY */
	background-color: yellow;
	border: 1px solid Black;
}
h3.blockmonthheader {
	background-color: #cccccc; /* Pale gray */
	font-size: 8pt;
	font-weight: bold;
	border: 1px solid Black;
	text-align: center;
	padding: 2px;
}
h3.blockmonthheader a {
	text-decoration: none;
}
td.blockdaynames {
	background-color: #cccccc; /* Pale gray */
	border: 1px solid Black;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: none;
}

table.blockcalcontainer,
td.blockcalcontainer {
	border: 0;
	border-collapse: collapse;
}
td.blockweeklink {
	background-color: #cccccc; /* Pale gray */
	border: 1px solid Black;
}
.blockweeklink a {
	color: black;
	font-size: 7pt;
	font-weight: normal;
	text-decoration: none;
}
a.blockevent-none {
	color: black;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.blockevent-one {
	color: #006600; /* Obscure Dull Green */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.blockevent-two {
	color: #006666; /* Obscure Dull Cyan */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
a.blockevent-three {
	color: #0066cc; /* Hard Dark Azure */
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
li.eventlink,
.eventlink a {
	font-size: 10px;
	font-weight: normal;
	padding: 2px;
	text-decoration: none;
}
li.pc_blockdate {
	font-weight: bold;
	font-size: 1.1em;
	list-style: none;
}
li.pc_blockevent {
	margin-left:2em;
	border:none;
	padding:0;
	list-style: none;
}
div.pc_centerblocksubmitlinks {
	text-align: center;
	padding: 1em 0 0 0;
}
div#overDiv {
    /* this should correct issues with themes changing all divs 
    It only is a very generic view, but better than nothing */
    background: white;
    color: black;
    text-align: center;
}