/* PostCalendar Stylesheet */
/**
 *  @package       PostCalendar
 */

/********** HEADERS & CONTAINERS ***********/
div.calcontainer {
	margin-top:.2em;
}
h2.postcalendar_header {
	text-align: center;
	background: transparent;
	font-size: 14pt;
	font-weight: bold;
	margin:1em 0 0 0;
	border: 1px solid #BBBBBB;
	padding: .5em;
    position: relative;
}
.postcalendar_header span.postcalendar_eid {
    position: absolute;
    top: 0;
    right: 0;
    color: #cccccc;
    font-size: 10pt;
    background-color: #eeeeee;
    margin: 2px;
    padding: .2em;
    border: 1px solid #cccccc;
}
h2.postcalendar_header a {
	font-size: 14pt;
	font-weight: bold;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}
table#postcalendar_yearview {
    width: 100%;
}
table#postcalendar_yearview td.postcalendar_yearview_panel {
    padding: 5px;
    text-align: center;
    vertical-align: top;
}
#postcalendar_footer {
    text-align: left;
    font-size: 8px;
    padding: 4px 2px;
}
#pcCategoryLegend {
    padding: 1em;
    margin: 4px;
    border: 1px solid #CCCCCC;
    width: 200px;
    border-radius: 6px;
}
/********** DAY ***************/
h3.dayheader,
h3.dayheader a,
li.dayheader,
li.dayheader a {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}
ul.eventslist,
li.eventslistitems {
	padding-left: 10px;
	list-style: none;
}
ul.eventslist:hover {
    background-color: #eeeeee;
}

/*********** MONTH **************/
table.postcalendar_month {
    width: 100%;
	border: 1px solid #BBBBBB;
	border-collapse: collapse;
}
table.postcalendar_month td {
	border: 1px solid #BBBBBB;
    height: 85px;
	vertical-align: top;
    text-align: left;
}
table.postcalendar_month td.monthon {
	background-color: transparent;
}
table.postcalendar_month td.monthoff {
	background: #cccccc; /* Pale Grey */
}
table.postcalendar_month td.monthtoday { /* color assignments for TODAY */
	background-color: #FFFFAA;
	border: 2px dotted #999999;
}
table.postcalendar_month td:hover {
    background-color: #ffffdd;
}
table.postcalendar_month tr.daynames td {
	background-color: #cccccc; /* Pale Grey */
	font-weight: normal;
	text-decoration: none;
    width: 14%;
    height: 1.5em;
    text-align: center;
}
table.postcalendar_month .monthview_daterow span {
    padding: 0 2px;
}
table.postcalendar_month .monthview_daterow {
    background-color: #dddddd;
}
table.postcalendar_month .monthview_daterow span.new_icon {
    float: right;
}
table.postcalendar_month col.pcWeekend {
    background-color: #eeeeee;
}

/*********** NAV **************/
#pcnav {
    text-align: right;
}
.pcnav_button+label {
    vertical-align: top;
}
#postcalendar_nav_right,
#postcalendar_nav_left {
	border: none;
	margin: 0;
	padding: 0;
/*    width: 50%;*/
    vertical-align: top;
}
#postcalendar_nav_right {
    float: right;
    text-align: right;
    line-height: 1.8em;
}
#postcalendar_nav_right ul,
#postcalendar_nav_left ul { /* navigation icons list */
	padding: 0;
	margin: 0;
}
#postcalendar_nav_right ul li { /* navigation icons list items */
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0;
}
#postcalendar_nav_left ul li {
	list-style: none;
    margin: 0;
    padding: 0;
}
a.postcalendar_nav_text {
    padding: 0 4px;
    border: 1px solid;
	text-decoration: none;
}
a.postcalendar_nav_text:hover {
    background-color: #cccccc;
	text-decoration: none;
}
a.postcalendar_nav_text_selected {
    padding: 0 4px;
    border: 1px solid;
    background-color: #cccccc;
	text-decoration: none;
}
a.postcalendar_nav_text_selected:hover {
    background-color: #ffffff;
	text-decoration: none;
}
#pcnav_datepicker,
#pcnav_filterpicker {
    background: url("javascript/jquery-ui/themes/cupertino/images/ui-bg_glass_60_eeeeee_1x400.png") repeat-x scroll 50% 50% #EEEEEE;
    border: 1px solid #CCCCCC;
    border-right: 0;
    color: #3383BB;
    width: 8em;
    height: 16px;
    vertical-align: top;
    padding: 4px 4px 4px 8px;
    margin: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    cursor: default;
}
#pcnav_filterpicker {
    width: 5em;
}
#pcnav_datepicker_button,
#pcnav_filterpicker_button {
    background-image: -moz-linear-gradient(center top , #FAFAFA 0%, #E5E5E5 100%);
    border: 1px solid #CCCCCC;
    padding: 5px;
    width: 14px;
    height: 14px;
    background-color: #EEEEEE;
    text-indent: -99999px; 
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0 .8em 0 0;
}
#pcnav_datepicker_button:hover,
#pcnav_filterpicker_button:hover {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top , #E5E5E5 0%, #FAFAFA 100%);
}
#pcnav_filterpicker_dialog,
#pcnav_usercalendar_dialog {
    display: none;
    text-align: left;
    cursor: pointer;
}
#pcnav_usercalendar_button {
    font-size: 90%;
    vertical-align: top;
    margin-right: .8em;
}

/********** details **************/
.postcalendar_event_view div.eventtime {
	font-size: 150%;
	font-weight: bold;
}
.postcalendar_event_view div.eventdetails {
	padding: .3em 2em;
}
.postcalendar_event_view div.eventdetails span.location{
    padding-left: 2em;
    display: block;
}
div.event_details_popup {
    text-align: left;
}
div.event_details_popup img.loading {
    position: relative;
    top: 170px;
    left: 225px;
}
/*********** SMALLMONTHTABLE STYLES **************/
table.smallmonthtable {
    width: 100%;
	border: 1px solid #BBBBBB;
	border-collapse: collapse;
}
table.smallmonthtable a {
	text-decoration: none;
	color: #333333;
    font-weight: normal;
}
table.smallmonthtable td {
    border: 1px solid #BBBBBB;
    text-align: center;
    vertical-align: middle;
	font-size: .8em;
    line-height: 1.8em;
}
table.smallmonthtable td.monthheader {
	background-color: #eeeeee;
	font-size: 1em;
    padding: 3px 0;
    line-height: normal;
}
table.smallmonthtable td.monthheader a {
    color: #666666;
	font-weight: bold;
}
table.smallmonthtable td.monthheader a:hover {
    color: #000000;
    text-decoration: none;
}
table.smallmonthtable td.monthon {
	background-color: transparent;
}
table.smallmonthtable td.monthoff {
	background-color: #cccccc; /* Pale gray */
}
table.smallmonthtable td.monthtoday { /* color assignments for TODAY */
	background-color: #FFFFAA;
}
table.smallmonthtable tr.daynames td {
	background-color: #cccccc; /* Pale gray */
}
table.smallmonthtable col.weeklink {
	background-color: #cccccc; /* Pale gray */
    width: 1em;
}
table.smallmonthtable td:hover {
    background-color: #ffffdd;
}
table.smallmonthtable a.event-one {
	color: #006600; /* Obscure Dull Green */
}
table.smallmonthtable a.event-two {
	color: #006666; /* Obscure Dull Cyan */
}
table.smallmonthtable a.event-three {
	color: #0066cc; /* Hard Dark Azure */
}
table.smallmonthtable col.pcWeekend {
    background-color: #dddddd;
}
table.smallmonthtable col.pcWeekday {
    background-color: #ffffff;
}
/*********** BLOCK STYLES **************/
.postcalendar_block_innertitle {
	font-size: 1.4em;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
	margin: 4px 0;
	padding: 2px 0;
}
.postcalendar_block_view_upcoming ul.pc_blocklist,
.postcalendar_block_view_day ul.pc_blocklist {
    padding: 0;
    margin: 0;
}
li.eventlink,
.eventlink a {
	font-size: 10px;
	font-weight: normal;
	padding: 2px;
	text-decoration: none;
}
li.pc_blockdate {
	font-weight: bold;
	font-size: 1.1em;
	list-style: none;
}
li.pc_blockevent {
	margin-left:2em;
	border:none;
	padding:0;
	list-style: none;
}
div.pc_centerblocksubmitlinks {
	text-align: center;
	padding: 1em 0 0 0;
}
div.postcalendar_featuredevent {
}
div.postcalendar_featuredevent div.eventcountdown {
    background: #ffffbb;
    border: 2px solid #ffff77;
    text-align: center;
    margin: 2px 0;
    padding: 2px;
}
div.postcalendar_featuredevent h2.eventheader {
}
div.postcalendar_featuredevent div.eventtime {
    line-height: 1.2;
    background: #eeeeee;
    border: 1px solid #cccccc;
    padding: 2px;
    margin: 2px;
}
div.postcalendar_featuredevent div.eventdetails {
}
div.postcalendar_featuredevent div.eventdetails ul {
    padding-left: 2em;
}
div.postcalendar_featuredevent div.eventdetails span.location{
    padding-left: 2em;
    display: block;
}

/*********** ADMIN ***************/
#pc_bulkaction_control {
    padding: 0 10px;
    margin: 0 0 1em;
}

#pc_bulkaction_control img {
    margin: 0 1em 0 0;
}

#pc_bulkaction_control select {
    margin-left: 2em;
}

#manuallySetDateFormats {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 1em;
}

/** submit form **/
#postcalendar_repetitionsettings {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 1em;
    width: 65.8%;
}

#postcalendar_repetitionsettings div {
    margin: .5em 0 0 1em;
}

#postcalendar_addevent_previewevent {
    background-color: #eeeeee;
    border: 2px solid #cccccc;
    margin: 2em;
    padding: 1em;
}

#postcalendar_addevent_previewevent #previewtitle {
    border-bottom: 1px solid #999999;
    color: navy;
    font-style: italic;
}

/** date and time pickers **/
#eventstart_time_display,
#eventend_time_display {
    width: 8em;
}
