## PostCalendar v8.0.0 Requirements & Features

PostCalendar is a calendar module for Zikula with multiple views, private 
calendars, MultiHook needles, Content Module support and much more. 
PostCalendar is completely converted to the new Zikula 1.3 model (OOP).

#### Software Requirements

*   Zikula >= 1.3.5 (or 1.3.3 with updated jquery_datepicker plugin - see below**)
*   php 5.3+

#### Features

*   Multiple views (Year, Month, Week, Day, List, RSS, iCal)
*   100% W3C-valid XHTML 1.1 templates - fully customizable with optional navigation images
*   Repeating events (including continuous events, and repeat-exceptions)
*   Use of jQuery to make the UI user-friendly
*   Categorization of events using Zikula category system
    *   Category-based permissions allow group-based or multiple calendars
*   Content module support
*   MultiHook Needles provided (currently non-functional due to MultiHook not working)
*   Supports all available Core 1.3.x-based Subscriber hooks
*   Provides event-creation Core 1.3.x-based Provider hook
*   **Date/Time Formats**
    *   Admin-definable date format for entire module
    *   24 or 12 hour format
    *   Monday/Sunday/Saturday week start
*   Print any view using Printer theme
*   **Blocks**
    *   Upcoming Events, Today's Events and calendar view blocks (optional category filter)
    *   Featured Event block with daily countdown
    *   Past Events
*   Admin notification on Event Submission, option to disable, also option to disable on admin-only submission.
*   Users can create private and/or global events (admin defined by Zikula group)
*   Events can be queued or immediately submitted (admin defined)
*   Events can be filtered by category or user (if personal calendar is enabled)
*   Hovering event information using JavaScript
*   Admin definable event default values

**file: https://github.com/zikula/core/blob/1.3/src/lib/viewplugins/function.jquery_datepicker.php